extends layout

block content
  h1= title
      
  div(class="container-fluid")
      div(class="row")
          -
            let vegetables = results
          each vegetable in vegetables
            div(class="col-sm-2") #{vegetable.color}
            div(class="col-sm-2") #{vegetable.weight}
            div(class="col-sm-2") #{vegetable.vitamins}
